<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>name</key>
			<string>Eat &amp; Drink</string>
			<key>icon</key>
			<string>mappin.and.ellipse</string>
			<key>colorCode</key>
			<integer>0</integer>
			<key>matchDepth</key>
			<integer>0</integer>
			<key>contains</key>
			<array>
				<string>Food and Drink</string>
			</array>
			<key>subCategories</key>
			<array>
				<dict>
					<key>name</key>
					<string>Groceries</string>
					<key>icon</key>
					<string>🛒</string>
					<key>colorCode</key>
					<integer>0</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Supermarkets and Groceries</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Restaurants</string>
					<key>icon</key>
					<string>🥣</string>
					<key>colorCode</key>
					<integer>0</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Restaurants</string>
						<string>Fast Food</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Coffee</string>
					<key>icon</key>
					<string>☕️</string>
					<key>colorCode</key>
					<integer>0</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Coffee Shop</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Misc Eat &amp; Drink</string>
					<key>icon</key>
					<string>🍔</string>
					<key>colorCode</key>
					<integer>0</integer>
					<key>matchDepth</key>
					<integer>1</integer>
					<key>contains</key>
					<array>
						<string>Food and Drink</string>
						<string>Food and Beverage</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Health &amp; Care</string>
			<key>icon</key>
			<string>heart.fill</string>
			<key>colorCode</key>
			<integer>1</integer>
			<key>matchDepth</key>
			<integer>0</integer>
			<key>contains</key>
			<array/>
			<key>subCategories</key>
			<array>
				<dict>
					<key>name</key>
					<string>Gym</string>
					<key>icon</key>
					<string>🏋️</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Gyms and Fitness Centers</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Healthcare</string>
					<key>icon</key>
					<string>💉</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Healthcare</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Personal Care</string>
					<key>icon</key>
					<string>❤️</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Personal Care</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Child Care</string>
					<key>icon</key>
					<string>👶</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Children</string>
						<string>Day Care and Preschools</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Senior Care</string>
					<key>icon</key>
					<string>👶</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Senior Citizen Services</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Pet Care</string>
					<key>icon</key>
					<string>🐶</string>
					<key>colorCode</key>
					<integer>1</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Pets</string>
						<string>Animal Shelter</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Entertainment</string>
			<key>icon</key>
			<string>sportscourt</string>
			<key>colorCode</key>
			<integer>4</integer>
			<key>matchDepth</key>
			<integer>0</integer>
			<key>contains</key>
			<array>
				<string>Recreation</string>
			</array>
			<key>subCategories</key>
			<array>
				<dict>
					<key>name</key>
					<string>Sporting Events</string>
					<key>icon</key>
					<string>🏟️</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Athletic Fields</string>
						<string>Baseball</string>
						<string>Basketball</string>
						<string>Batting Cages</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Arts &amp; Entertainment</string>
					<key>icon</key>
					<string>🎥</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Arts and Entertainment</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bars &amp; Nightlife</string>
					<key>icon</key>
					<string>🍷</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Nightlife</string>
						<string>Breweries</string>
						<string>Bar</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Shopping</string>
					<key>icon</key>
					<string>🛍️</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Shops</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Subscriptions</string>
					<key>icon</key>
					<string>🌐</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Subscription</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Fun</string>
					<key>icon</key>
					<string>🎟️</string>
					<key>colorCode</key>
					<integer>4</integer>
					<key>matchDepth</key>
					<integer>1</integer>
					<key>contains</key>
					<array>
						<string>Recreation</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Transportation</string>
			<key>icon</key>
			<string>airplane</string>
			<key>colorCode</key>
			<integer>3</integer>
			<key>matchDepth</key>
			<integer>0</integer>
			<key>contains</key>
			<array>
				<string>Travel</string>
			</array>
			<key>subCategories</key>
			<array>
				<dict>
					<key>name</key>
					<string>Ride Share</string>
					<key>icon</key>
					<string>🚗</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Car Service</string>
						<string>Ride Share</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Gas Stations</string>
					<key>icon</key>
					<string>⛽</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Gas Stations</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Public Transit</string>
					<key>icon</key>
					<string>🚆</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Public Transportation Services</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Parking</string>
					<key>icon</key>
					<string>🚆</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Parking</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Flights</string>
					<key>icon</key>
					<string>🛫</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Airlines and Aviation Services</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Car Expenses</string>
					<key>icon</key>
					<string>🚘</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Automotive</string>
						<string></string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Other Travel</string>
					<key>icon</key>
					<string>🛫</string>
					<key>colorCode</key>
					<integer>3</integer>
					<key>matchDepth</key>
					<integer>1</integer>
					<key>contains</key>
					<array>
						<string>Travel</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Housing &amp; Utilities </string>
			<key>icon</key>
			<string>house.fill</string>
			<key>colorCode</key>
			<integer>2</integer>
			<key>matchDepth</key>
			<integer>1</integer>
			<key>contains</key>
			<array>
				<string>Service</string>
				<string>Utilities</string>
			</array>
			<key>subCategories</key>
			<array>
				<dict>
					<key>name</key>
					<string>Phone</string>
					<key>icon</key>
					<string>🌐</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Telecommunication Services</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Rent</string>
					<key>icon</key>
					<string>🏠</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Rent</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Internet
Internet</string>
					<key>icon</key>
					<string>🌐</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Internet Services</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Insurance</string>
					<key>icon</key>
					<string>📝</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Insurance</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Cable</string>
					<key>icon</key>
					<string>📺</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>0</integer>
					<key>contains</key>
					<array>
						<string>Cable</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Utilities</string>
					<key>icon</key>
					<string>🔧</string>
					<key>colorCode</key>
					<integer>2</integer>
					<key>matchDepth</key>
					<integer>1</integer>
					<key>contains</key>
					<array>
						<string>Utilities</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
